<header>
    <h1>Profil bearbeiten</h1>
</header>
<section id="content" class="bg-white">


    <div class="container">
        <div class="alert alert-danger" ng-show="c.errors != null">
            <div ng-repeat="error in c.errors"><b>{{error.name}}</b>: {{error.value}}</div>
        </div>
        <div class="alert alert-success" ng-show="c.success != null">
            {{c.success}}
        </div>
        <div ng-show="main.isAdmin">
            <h3>Winzer auswählen</h3>
            <p>Wähle den Winzer aus, dessen Profil bearbeitet werden soll.</p>
            <div class="form-group">
                <label class="control-label col-sm-4">Winzer auswählen</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-options="maker as maker.name for maker in c.makers"
                            ng-model="c.maker">
                        <option value="">-- Neuen Winzer anlegen --</option>
                    </select>
                    <hr class="hrdivide">
                </div>
            </div>

        </div>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <h4>Allgemein</h4>
                    <div class="well">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="c.maker.name" validated>
                        </div>
                        <div class="form-group">
                            <label>Beschreibung</label>
                            <textarea class="form-control" ng-model="c.maker.description" validated></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>Herkunft</h4>
                    <div class="well">
                        <div class="form-group">
                            <label>Region</label>
                            <input type="text" class="form-control" ng-model="c.maker.region.name" validated>
                        </div>
                        <div class="form-group">
                            <label>Land</label>
                            <select class="form-control" ng-model="c.maker.region.country">
                                <option value="de">Deutschland</option>
                                <option value="fr">Frankreich</option>
                                <option value="it">Italien</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="col-md-12">
                    <h4>Kontaktinformationen</h4>
                    <div class="well">
                        <div class="form-group">
                            <label>Telefonnummer</label>
                            <input type="text" class="form-control" ng-model="c.maker.contacts.tel">
                        </div>
                        <div class="form-group">
                            <label>Straße & Hausnummer</label>
                            <textarea class="form-control" ng-model="c.maker.contacts.street"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ort</label>
                            <textarea class="form-control" ng-model="c.maker.contacts.city"></textarea>
                        </div>
                        <div class="form-group">
                            <label>E-Mail</label>
                            <input type="text" class="form-control" ng-model="c.maker.contacts.mail">
                        </div>
                        <div class="form-group">
                            <label>Homepage</label>
                            <input type="text" class="form-control" ng-model="c.maker.contacts.homepage">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-lg btn-block" ng-click="c.submitMaker()">Speichern</button>
    </div>

</section>