<header>
    <h1>Entdecken</h1>
</header>
<section id="content" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div ng-include="'views/discover/discover.filters.html'"></div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div>
                    <div ng-include="'views/discover/discover.tags.html'"></div>
                </div>
                <div class="results">
                    <div class="banner">
                        <img src="img/banner.png">
                    </div>
                    <div ng-repeat="wine in c.wines" ng-include="'views/discover/discover.wine.html'"></div>
                </div>
            </div>
        </div>
    </div>
</section>