<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h3>Gerichte</h3>
            <p class="help-text">Fügen Sie weitere Gerichte hinzu, um Ihre Suche zu verfeinern.</p>
            <selectize config='c.selectizeConfig' options='c.dishTags' ng-model="c.selectedTag"
                       id="landing-input"></selectize>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-transparent">
            <h4>Ausgewählte Gerichte</h4>
            <div class="tags">
                <div ng-repeat="tag in c.tags | filter: {type: 'DISH', selected: true}" class="tag tag-big">{{tag.name}} <span
                        class="tag-remove"><i class="fa fa-close" ng-click="c.removeSelectedTag(tag.name)"></i></span></div>
            </div>
        </div>
    </div>
</div>
