<div class="card-container">
    <div class="card">
        <div class="row">
            <div class="col-sm-4">
                <img src="img/wines/{{wine.image ? wine.image : 'bottle.png'}}" class="img-thumbnail" width="300" height="300">
            </div>
            <div class="col-sm-8">
                <div class="card-header">
                    <div class="pull-right">
                        <span ng-hide="wine.recommendations.length == 0">Bewertung:</span>
                        <i class="fa fa-star" ng-repeat="n in ReviewService.avgStars(wine)"></i>
                    </div>
                    <h4>
                        <span>{{wine.name}}</span>
                        <small>{{wine.maker.name}}</small>
                    </h4>
                </div>
                <p class="description">{{wine.description}}</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 card-label">
                                Jahrgang
                            </div>
                            <div class="col-sm-6 card-value">
                                {{wine.year}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 card-label">
                                Weinregion
                            </div>
                            <div class="col-sm-6 card-value">
                                {{wine.maker.region.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 card-label">
                                Preis
                            </div>
                            <div class="col-sm-6 card-value">
                                &euro; {{wine.price}} ({{wine.volume}} l)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 card-label">
                                Art
                            </div>
                            <div class="col-sm-6 card-value">
                                {{wine.type}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3 card-label">
                                Geschmack
                            </div>
                            <div class="col-sm-9 card-value">
                            <span ng-repeat="tag in wine.tags | filter: {'type': 'TASTE'}"
                                  class="tag"
                                  ng-class="{'active' : c.isTagSelected(tag.name)}">{{tag.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3 card-label">
                                Passende Gerichte
                            </div>
                            <div class="col-sm-9 card-value">
                            <span ng-repeat="tag in wine.tags | filter: {'type': 'DISH'}" class="tag"
                                  ng-class="{'active' : c.isTagSelected(tag.name)}">{{tag.name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row button-container-wine">
                    <button class="bbutton button_light button-collapsible collapsed" data-toggle="collapse"
                            data-target="#{{wine._id}}-recommendations"
                            id="{{wine._id}}-review-button"
                            ng-click="c.toggleMakerRecommendations(wine._id, 'review-button')">
                        <span> Bewerten</span></button>
                    <button class="bbutton button_red button-collapsible collapsed" data-toggle="collapse"
                            data-target="#{{wine._id}}-maker-details"
                            ng-click="c.toggleMakerRecommendations(wine._id, 'order-button')"
                            id="{{wine._id}}-order-button">
                        <span> Bestellen</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Maker details -->
    <div class="collapse" id="{{wine._id}}-maker-details">
        <div class="card card-dark">
            <div class="row">
                <div class="col-md-7">
                    <h4>
                        <span>{{wine.maker.name}}</span>
                        <small>Weinregion {{wine.maker.region.name}}</small>
                    </h4>
                    <small class="">{{wine.maker.description}}
                    </small>
                </div>
                <div class="col-md-5">
                    <h4>Kontaktdaten</h4>
                    <div class="maker-address container">
                        <p>
                            <span>Adresse</span><br>
                            <!--<span style="white-space:pre-wrap;">-->
                            {{wine.maker.contacts.street}}<br>
                            {{wine.maker.contacts.city}}
                            <!--</span>-->
                        </p>
                        <p>
                            Telefon<br>
                            {{wine.maker.contacts.tel}}
                        </p>
                    </div>
                    <div class="row button-container-maker">
                        <a href="mailto:{{wine.maker.contacts.mail}}">
                            <button class="bbutton button_light"><i
                                    class="fa fa-envelope-o fa-lg"><span> E-Mail an den Winzer</span></i></button>
                        </a>
                        <a href="{{wine.maker.contacts.homepage}}">
                            <div class="bbutton button_red"><i
                                    class="fa fa-external-link fa-lg"><span> Webseite des Winzers</span></i></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recommendations -->
    <div class="collapse" id="{{wine._id}}-recommendations">
        <div class="card card-dark recommendations-container">
            <h4>Bewertungen für diesen Wein</h4>
            <div class="row">
                <div class="col-md-8">
                    Durchschnittliche Bewertung <i class="fa fa-star" ng-repeat="n in ReviewService.avgStars(wine)"></i>
                </div>
                <div class="col-md-4">
                    <button class="pull-right bbutton button_red button-collapsible collapsed" data-toggle="collapse"
                            data-target="#{{wine._id}}-submit-review"
                            ng-click="ReviewService.toggleReviewsSize(wine._id)"
                            id="{{wine._id}}-submit-review-button"><span>Bewertung abgeben</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span>Bewertungen</span>
                    <div class="row">
                        <div class="col-md-8 flex-column">
                            <span ng-repeat="x in ReviewService.rangeStars(5)| orderBy:'-'">
                                <a ng-click="c.filterReviews.stars=x">
                                <i class="fa fa-star" ng-class="{starsSelected: c.filterReviews.stars==x}"
                                   ng-repeat="n in ReviewService.rangeStars(x)"></i>
                                <span class="pull-right">{{c.getStarsCount(wine,x)}}</span></a>
                            </span>
                            <a ng-click="c.filterReviews.stars = undefined" class="small">Alle anzeigen</a>
                        </div>
                    </div>

                </div>
                <!-- Form for submission of own review -->
                <div class="col-md-9 submit-review-container collapse" id="{{wine._id}}-submit-review">
                    <span>Eigene Bewertung abgeben</span>
                    <div class="row form-group">
                        <label class="col-md-3" for="{{wine._id}}-submit-review-stars">Sterne</label>
                        <div class="col-md-9" id="{{wine._id}}-submit-review-stars">
                        <span class="rating" id="{{wine._id}}-rating-span"
                              tabindex="0" data-placement="top"
                              data-toggle="popover" data-trigger="hover"
                              data-content="Bitte wählen Sie eine Anzahl von Sternen aus">
                            <input type="radio" class="rating-input"
                                   id="{{wine._id}}-rating-input-5" name="{{wine._id}}-rating-input"
                                   ng-model="ReviewService.review.stars" value="5" validated>
                            <label for="{{wine._id}}-rating-input-5" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                   id="{{wine._id}}-rating-input-4" name="{{wine._id}}-rating-input"
                                   ng-model="ReviewService.review.stars" value="4">
                            <label for="{{wine._id}}-rating-input-4" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                   id="{{wine._id}}-rating-input-3" name="{{wine._id}}-rating-input"
                                   ng-model="ReviewService.review.stars" value="3">
                            <label for="{{wine._id}}-rating-input-3" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                   id="{{wine._id}}-rating-input-2" name="{{wine._id}}-rating-input"
                                   ng-model="ReviewService.review.stars" value="2">
                            <label for="{{wine._id}}-rating-input-2" class="rating-star"></label>
                            <input type="radio" class="rating-input"
                                   id="{{wine._id}}-rating-input-1" name="{{wine._id}}-rating-input"
                                   ng-model="ReviewService.review.stars" value="1">
                            <label for="{{wine._id}}-rating-input-1" class="rating-star"></label>
                        </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-3 control-label label-padding"
                               for="{{wine._id}}-submit-review-username">Ihr Name</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text"
                                   id="{{wine._id}}-submit-review-username" ng-model="ReviewService.review.author"
                                   validated>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{wine._id}}-submit-review-title">Geben Sie Ihrer Rezension einen Titel</label>
                        <input class="form-control" type="text" id="{{wine._id}}-submit-review-title"
                               ng-model="ReviewService.review.title" validated>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="{{wine._id}}-submit-review-content">Beschrieben Sie kurz, was Ihnen bzgl.
                                des
                                Weines, der Lieferung oder dem Empfehlungen gefallen hat
                            </label>
                            <textarea class="form-control" rows="3" id="{{wine._id}}-submit-review-content"
                                      ng-model="ReviewService.review.text" validated></textarea>
                        </div>
                    </div>
                    <div class="row button-review-container">
                        <div class="col-md-6 flex-center">
                            <button class="bbutton button_light" data-toggle="collapse"
                                    data-target="#{{wine._id}}-submit-review"
                                    ng-click="ReviewService.toggleReviewsSize(wine._id)">
                                <span> Abbrechen</span></button>
                        </div>
                        <div class="col-md-6 flex-center">
                            <button class="bbutton button_red" ng-click="c.submitReview(wine,ReviewService.review)">
                                <span> Speichern</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Reviews
                 -->
                <div class="col-md-9" id="{{wine._id}}-reviews">
                    <span>Rezensionen<small ng-show="c.filterReviews.stars != undefined"> mit {{c.filterReviews.stars}} Sternen</small></span>

                    <div class="review-container">
                        <div class="review"
                             ng-repeat="recommendation in wine.recommendations| orderBy:'-' | filter:c.filterReviews:strict">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>{{recommendation.title}}
                                        <small> von {{recommendation.author}}</small>
                                    </h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="pull-right">
                                        <i class="fa fa-star"
                                           ng-repeat="n in ReviewService.rangeStars(recommendation.stars)"></i>
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{recommendation.text}}
                                </div>
                            </div>
                            <div class="row" ng-show="main.isAdmin">
                                <button class="col-md-6 col-md-offset-3 btn btn-danger btn-xs"
                                        ng-click="ReviewService.deleteReview(wine,recommendation)">Rezension
                                    löschen
                                </button>
                            </div>
                        </div>

                    </div>

                    <!-- Show message if now review has been submitted yet -->
                    <div class="review" ng-if="wine.recommendations.length == 0">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Keine Rezensionen vorhanden. Helfen Sie anderen Weingenießern und geben die
                                    erste
                                    Bewertung ab.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
