<div class="card" id="filters">
    <h3>Filter</h3>
    <label>Region</label>
    <select class="form-control" ng-model="c.region"
            ng-options="region as region for region in c.regions" ng-change="c.filterWines()"></select>

    <hr class="hrdivide">

    <input type="radio" name="wine-type" id="alltypes" ng-model="c.selectedType" ng-change="c.filterWines()" ng-value="'all'" selected>
    <label for="alltypes">Alle</label>
    <div ng-repeat="tag in c.tags | filter: {type: 'TYPE'}">
        <input type="radio" name="wine-type" id="{{tag.type}}-{{tag.name}}" ng-model="c.selectedType" ng-change="c.filterWines()" ng-value="tag">
        <label for="{{tag.type}}-{{tag.name}}">{{tag.name}}</label>
    </div>

    <hr class="hrdivide">

    <div ng-init="showAllTastes = false"></div>

    <div ng-repeat="tag in c.tags | filter: {type: 'TASTE'}">
        <div ng-show="$index < 6 || showAllTastes">
            <input type="checkbox" id="{{tag.type}}-{{tag.name}}" ng-model="tag.selected" ng-change="c.filterWines()">
            <label for="{{tag.type}}-{{tag.name}}">{{tag.name}}</label>
        </div>
    </div>

    <div class="show-more"
         ng-hide="showAllTastes"
            ng-click="showAllTastes = true">mehr...</div>

    <div class="show-more"
         ng-show="showAllTastes"
         ng-click="showAllTastes = false">weniger...</div>

    <hr class="hrdivide">
    <!--
        Jahrgang
                -->
    <div class="row">
        <div class="col-md-12">
            <label>Jahrgang</label>
            <span class="pull-right">von {{c.yearSlider.value[0]}} bis {{c.yearSlider.value[1]}}</span>
            <div class="slider-container">
                <slider ng-model="c.yearSlider.value" min="c.yearSlider.min" step="1" max="c.yearSlider.max"
                        range="true" value="c.yearSlider.value" tooltip="hide" ng-change="c.filterWines()"></slider>
            </div>
        </div>
    </div>
    <hr class="hrdivide">
    <!--
        Preis
                -->
    <div class="row">
        <div class="col-md-12">
            <label>Preis (Euro)</label>
            <span class="pull-right">von {{c.priceSlider.value[0]}} bis {{c.priceSlider.value[1]}}</span>
            <div class="slider-container">
                <slider ng-model="c.priceSlider.value" min="c.priceSlider.min" step="1" max="c.priceSlider.max"
                        range="true" value="c.priceSlider.value" tooltip="hide" ng-change="c.filterWines()"></slider>
            </div>
        </div>
    </div>
</div>