<header>
    <h1>Registrieren</h1>
</header>

<section id="content" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="alert alert-warning" ng-show="c.errors.length > 0">
                    <div ng-repeat="error in c.errors">{{error}}</div>
                </div>
                <div class="alert alert-success" ng-show="c.successMessages.length > 0">
                    <div ng-repeat="s in c.successMessages">{{s}}</div>
                </div>
                <form name="registerForm" ng-submit="c.submitRegistration()">
                    <div class="form-group">
                        <label class="control-label">
                            Benutzername:
                        </label>
                        <input type="text" class="form-control" required ng-model="c.fields.username" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            Passwort:
                        </label>
                        <input type="password" class="form-control" required ng-model="c.fields.password" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">
                            Passwort wiederholen:
                        </label>
                        <input type="password" class="form-control" required
                               compare-to="pwd" ng-model="c.fields.passwordConfirm"/>
                    </div>
                    <button type="submit" class="btn btn-darkslategrey btn-block" id="button_reg">Registrieren
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>