<nav class="navbar navbar-default navbar-static-top text-white" style="background-color: rgba(0,0,0,0)">
    <div class="text-white container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#">
                <img src="img/logo.png" id="navbar_image">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menu" ng-controller="menuController as mCtrl">
            <ul class="nav navbar-nav">
                <li><a ng-class="{ active_navbar : mCtrl.isActive('/home')}" href="#/home">NACH GERICHT SUCHEN</a></li>
                <li><a ng-class="{ active_navbar : mCtrl.isActive('/discover')}" href="#/discover">WEINE ENTDECKEN</a></li>
                <li ng-show="main.isLoggedIn"><a ng-class="{ active_navbar : mCtrl.isActive('/form/wine')}" href="#/form/wine">WEINE BEARBEITEN</a></li>
                <li ng-show="main.isLoggedIn"><a ng-class="{ active_navbar : mCtrl.isActive('/form/maker')}" href="#/form/maker">PROFIL BEARBEITEN</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="main.isLoggedIn"><a href="" ng-click="main.logout()">LOGOUT</a></li>
                <li ng-hide="main.isLoggedIn"><a ng-class="{ active_navbar : mCtrl.isActive('/login')}" href="#/login">LOGIN</a></li>
                <li ng-hide="main.isLoggedIn" style="max-width: 128px;"><a ng-class="{ active_navbar : mCtrl.isActive('/registration')}" href="#/registration">REGISTRIEREN</a></li>
            </ul>
        </div>
    </div>
</nav>