<header>
    <h1>Login</h1>
</header>

<section id="content" class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="alert alert-warning" ng-show="c.errors.length > 0">
                    <div ng-repeat="error in c.errors">{{error}}</div>
                </div>
                <form name="registerForm" ng-submit="c.submitLogin()">
                    <div class="form-group">
                        <label class="control-label">
                            Benutzername:
                        </label>
                        <input type="text" class="form-control" required ng-model="c.fields.username" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Passwort:
                        </label>
                        <input type="password" class="form-control" required ng-model="c.fields.password" />
                    </div>
                    <div class="alert alert-warning text-center" ng-hide="c.fields.username != '' && c.fields.password != ''">
                        Benutzername oder Passwort sind nicht korrekt - bitte beides überprüfen.
                    </div>
                    <button type="submit" class="btn btn-darkslategrey btn-block" id="button_reg">Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>