<header>
    <h1>Weine bearbeiten / hinzufügen</h1>
</header>
<section id="content" class="bg-white">

    <div class="container">
        <div class="alert alert-danger" ng-show="c.errors != null">
            <div ng-repeat="error in c.errors"><b>{{error.name}}</b>: {{error.value}}</div>
        </div>
        <div class="alert alert-success" ng-show="c.success != null">
            {{c.success}}
        </div>
        <form class="form-horizontal">
            <!-- Select options for Admins to choose maker and attached wines -->
            <div ng-show="main.isAdmin">
                <h3>Winzer auswählen</h3>
                <p>Wähle den Winzer aus, dessen Weine bearbeitet werden sollen.</p>
                <div class="form-group">
                    <label class="control-label col-sm-4">Winzer auswählen</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-options="maker as maker.name for maker in c.makers"
                                ng-model="c.maker"></select>
                    </div>
                </div>

                <h3>Wein auswählen</h3>
                <input type="hidden" ng-model="c.wine._id">
                <p>Zum Bearbeiten eines Weines, den entsprechenden Wein im Dropdown auswählen. Anschließend bearbeiten
                    und
                    auf Speichern klicken. Für neuen Wein, leer lassen.</p>
                <div class="form-group">
                    <label class="control-label col-sm-4">Wein auswählen</label>
                    <div class="col-sm-8">
                        <select class="form-control"
                                ng-options="wine as wine.name for wine in c.wines | filter:c.maker._id"
                                ng-model="c.wine">
                            <option ng-value="c.newWine">-- Neuen Wein anlegen --</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Form for makers to edit their wines -->
            <div ng-hide="main.isAdmin">
                <h3>Wein auswählen</h3>
                <input type="hidden" ng-model="c.wine._id">
                <p>Zum Bearbeiten eines Weines, den entsprechenden Wein im Dropdown auswählen. Anschließend bearbeiten
                    und
                    auf Speichern klicken. Für neuen Wein, leer lassen.</p>
                <div class="form-group">
                    <label class="control-label col-sm-4">Wein auswählen</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-options="wine as wine.name for wine in c.wines"
                                ng-model="c.wine">
                            <option value="">-- Neuen Wein anlegen --</option>
                        </select>
                    </div>
                </div>
            </div>

            <h3>Weininformationen</h3>

            <div class="form-group">
                <label class="control-label col-sm-4">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="c.wine.name" validated>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Anzahl Klicks</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="c.wine.orders" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Beschreibung</label>
                <div class="col-sm-8">
                    <textarea rows="4" class="form-control" ng-model="c.wine.description" validated></textarea>
                </div>
            </div>
            <input type="hidden" ng-model="c.wine.maker">
            <div class="form-group">
                <label class="control-label col-sm-4">Jahrgang</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="c.wine.year" validated>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Preis</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="c.wine.price" validated>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Flaschenvolumen</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="c.wine.volume" validated>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Typ</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="c.wine.type">
                        <option>Rotwein</option>
                        <option>Weißwein</option>
                        <option>Champagner</option>
                        <option>Sekt</option>
                    </select>
                </div>
            </div>

            <h3>Tags</h3>

            <div class="form-group">
                <label class="control-label col-sm-4">Tag hinzufügen</label>
                <div class="col-sm-8">
                    <span style="margin-top: 7px; display: inline-block;">Aus bestehenden Tags wählen</span>
                    <div class="input-group">
                        <select class="form-control" ng-model="tag"
                                ng-options="tag as tag.name for tag in c.tags"></select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="c.addTag(tag)"><i
                                    class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Gerichte</label>
                <div class="col-sm-8">
                    <button class="btn btn-warning" ng-click="c.addTagOfType('DISH')">Neues Gericht hinzufügen</button>
                    <div class="tag-row" ng-repeat="tag in c.wine.tags | filter: {type: 'DISH'}">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="tag.name" placeholder="Name">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="c.removeTag(tag)"><i class="fa fa-close"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4">Geschmacksrichtungen</label>
                <div class="col-sm-8">
                    <button class="btn btn-warning" ng-click="c.addTagOfType('TASTE')">Neue Geschmacksrichtung
                        hinzufügen
                    </button>
                    <div class="tag-row" ng-repeat="tag in c.wine.tags | filter: {type: 'TASTE'}">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="tag.name" placeholder="Name">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="c.removeTag(tag)"><i class="fa fa-close"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Rezensionen</h3>
            <small ng-hide="c.wine.recommendations.length == 0">Durchschnittliche Bewertung:
                <i class="fa fa-star" ng-repeat="n in ReviewService.avgStars(c.wine)"></i>
            </small>
            <div class="review-form_wine-container">
                <div class="col-md-5 review-form_wine"
                     ng-repeat="recommendation in c.wine.recommendations| orderBy:'-'">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>{{recommendation.title}}
                                <small> von {{recommendation.author}}</small>
                            </h5>
                        </div>
                        <div class="col-md-4">
                            <h5 class="pull-right"><i class="fa fa-star"
                                                      ng-repeat="n in ReviewService.rangeStars(recommendation.stars)"></i>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{recommendation.text}}
                        </div>
                    </div>
                    <div class="row" ng-show="main.isAdmin">
                        <button class="col-md-6 col-md-offset-3 btn btn-danger btn-xs"
                                ng-click="ReviewService.deleteReview(c.wine,recommendation)">Rezension löschen
                        </button>
                    </div>
                </div>
            </div>
            <div class="review" ng-if="c.wine.recommendations.length == 0">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Keine Rezensionen vorhanden.</h5>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <button class="btn btn-danger btn-lg" data-target="#deleteConf" data-toggle="collapse">Wein
                        löschen
                    </button>
                </div>
                <div class="collapse row alert alert-warning" id="deleteConf">
                    <span class="text-danger col-md-12">Möchten Sie diesen Wein ({{c.wine.name}}) wirklich löschen?</span>
                    <button class="col-md-5 btn btn-default" data-target="#deleteConf" data-toggle="collapse">NEIN
                    </button>
                    <button class="col-md-5 col-md-offset-2 btn btn-warning" ng-click="c.deleteWine()"
                            data-toggle="collapse" data-target="#deleteConf">JA
                    </button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg col-md-8" ng-click="c.submitWine()">Speichern</button>
        </div>
    </div>
</section>