#contactContainer{
  display: flex;
  flex-direction: column;
  background-color: rgba(211,211,211,0.35);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  border-radius: 0px;
}
#contactContainer i{
  padding-top: 10px;
  display: flex;
  align-items: center;
}
#contactContainer i span{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding-left: 3px;
}
#makeitcenter{
  display: flex;
  justify-content: center;
}