.tag {
  background-color: #bbb;
  color: #fff;
  padding: 2px 7px;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag.active {
  background-color: #777;
}

.tag-big {
  padding: 6px 11px;
  font-size: 14px;
}

.tag-remove {
  color: #fff;
  cursor: pointer;
}

.tag-remove:hover {
  color: #999;
}

#filters {
  min-height: 500px;
}

.fa span {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.fa-star {
  color: darkred;
}

.fa-star-half-o {
  color: darkred;
}

.fa-star-o {
  color: darkred;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.starsSelected{
  color: white;
}

//
.hrdivide {
  border-top: 1px solid #cdcdcd;
  margin-top: 15px;
  margin-bottom: 15px;
}

.maker-address-container {
  background-color: rgb(170, 170, 170);
  margin-right: 0px;
  padding: 8px;
}

.maker-details-container {
  background-color: rgb(153, 153, 153);
  color: white !important;
  padding-bottom: 5px;
}

.maker-details-container h4 small {
  color: black;
}

.recommendations-container label {
  font-weight: normal;
}

.review {
  background-color: white;
  padding: 0px 10px 10px 10px;
  color: black;
  margin-bottom: 10px;
}

.review h5 {
  font-weight: bold;
}

.recommendations-container a {
  cursor: pointer;
  color: white;
}

.label-padding {
  padding-top: 8px;
}

.submit-review-container textarea {
  max-width: 100%;
}

.submit-review-container .form-group .has-error label,
.submit-review-container .form-group.has-error label{
  color: white;
}

.popover {
  color: black;
}

// Design for Buttons
.button-container-wine {
  padding-right: 15px;
  display: flex;
  justify-content: flex-end;
}

.button-container-maker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px
}

.bbutton {
  padding: 10px;
  align-items: center;
  display: flex;
}

.bbutton:focus {
  outline: none;
}

.button_red {
  background-color: darkred;
  color: white;
  border: none;
}

.button_light {
  color: darkred;
  border: none;
  background-color: transparent;
}

.button-collapsible:before {
  content: "\f0d8";
  font-family: FontAwesome;
  font-size: 18px;
  margin-right: 5px;
}

.button-collapsible.collapsed:before {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 18px;
  margin-right: 5px;
}

// Design for Checkboxes - inspired by: https://blog.kulturbanause.de/2015/03/formular-styling-mit-css-select-listen-radio-buttons-und-checkboxen-individuell-gestalten/
input[type='checkbox'],
input[type='radio']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%
}

/* graceful degradation for ie8 */
input[type='checkbox'],
input[type='radio'] {
  width: auto;
  float: left;
  margin-right: .75em;
  background: transparent;
  border: none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
}

input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before,
  input[type='radio']:checked + label::before,
  input[type='radio']:not(:checked) + label::before
{
  content: ' ';
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  top: 4px;
  border: 1px solid #bbb;
  background: white;
  margin-right: 1em;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .1);
}
.rating input[type='radio']:checked + label::before,
.rating input[type='radio']:not(:checked) + label::before{
content: none;
}

input[type=radio]:checked + label::before,
input[type=radio]:not(:checked) + label::before {
  border-radius: 30px;
}

input[type='checkbox']:hover + label::before,
input[type='radio']:hover + label::before {
  background: #ddd;
  box-shadow: inset 0 0 0 2px white;
}

input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background: black;
  box-shadow: inset 0 0 0 2px white;
}

// Design for rating stars inspired by: https://www.everythingfrontend.com/posts/star-rating-input-pure-css.html
.rating {
  overflow: hidden;
  display: inline-block;
  outline: none;
}

.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}

.rating-star {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  //background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

label.rating-star::after {
  content: "\f005";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-decoration: inherit;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  color: darkred;
}

.rating input[type='radio']:not(:checked),
.rating input[type='radio']:checked {
  position: absolute;
}

#filters label {
  font-weight: normal;
}

.show-more {
  color: darkred;
  text-align: right;
  cursor: pointer;
}

.show-more:hover {
  text-decoration: underline;
}