footer {
  background-color: #333;
  color: #fff !important;
  min-height: 15vh;
  padding: 40px;
}
#footer-container{
}
#firmenname{
  font-family: 'Times New Roman', serif;
  font-size: 26px;
  padding-bottom: 10px;
}

footer ul.footer-nav {

}

footer ul.footer-nav li {
  list-style: none;
  margin-bottom: 10px;
}

footer ul.footer-nav li a {
  text-decoration: none;
  color: #fff;
}

footer ul.footer-nav li a:hover {
  color: #aaa;
}

footer #project-names {
  font-size: 10px;
  text-align: center;
}