.tag-row {
  margin-top: 8px;
}

.review-form_wine {
  background-color: #dedede;
  padding: 0px 10px 10px 10px;
  color: black;
  margin: 10px;
}

.review-form_wine-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

.has-error {
  color: #a94442;
}

.has-error .form-control {
  background-color: #ffebea;
}

.validator-message {
  margin-top: 2px;
  font-size: 12px;
}

.card-dark .validator-message {
  font-weight: bold;
  color: #661717;
}

.card-dark .has-error .form-control {
  background-color: #f6c9c9;
}