section#navigation {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height: 12vh;
}
section#content {
  padding: 40px 0;
  min-height: 58vh;
}

.banner {
  text-align: center;
  padding: 10px 0;
}

.banner img {
  width: 100%;
  cursor: pointer;
}