#headline-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Yellowtail', cursive;
  font-size: 36px;
}

#landing-logo {
  width: 120px;
  height: auto;
}

@media (min-width: 720px) {
  #headline-container {
    font-size: 5vw;
  }
}

@media (min-width: 1100px) {
  #headline-container {
    font-size: 56px;
  }
}

@media (max-width: 416px) {
  #landing-logo {
    width: 100px;
  }
  #headline-container {
    font-size: 30px;
  }
}

.text-white {
  color: white;
  font-size: 14px;
}

#landing-input-container {
  position: relative;
}

#landing-input-container .selectize-input {
  padding: 15px;
  border-radius: 0px;
  cursor: text;
}

#landing-input-container .selectize-dropdown {
  color: #aaa;
  border-radius: 0px;
}

#landing-input-container .selectize-dropdown .highlight {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #a00;
}

#landing-input-container .selectize-input:after {
  display: none;
}

#landing-input-container .fa-search {
  color: #999;
  position: absolute;
  top: 19px;
  z-index: 10;
  right: 20px;
  cursor: pointer;
}

#landing-input-container .fa-search:hover {
  color: #333;
}
.panel{
  background-color:transparent;
  margin-top: 15px;
  border: 0;
}
.panel-heading{
  background-color: transparent !important;
  color: white !important;
}
#vpc{
  background-color: rgba(211, 211, 211, 0.35);

}
#vpc_container{
  margin-top: 80px;
  text-align: center;
}