// General settings for navbar
.navbar-default {
  border: 0;
  margin-bottom: 0px;
}

#menu {
  margin-top: 16px;
}

#navbar_image {
  height: 80px;
  width: auto;
}

.navbar-header {
  padding-top: 0px;
}

.navbar-toggle {
  background-color: transparent;
}

.icon-bar {
  background-color: white !important;
}

.navbar-header button {
  margin-top: 20px;
}

// Settings for Link style depending on state
.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-weight: bold;
}

.active_navbar {
  font-weight: bold;
}