.bg-white {
  background-color: #fff;
}

.card-container {
  margin-bottom: 15px;
}

.card {
  padding: 15px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

.card-dark {
  color: #fff;
  background-color: #777777;
  border-top: 2px solid #f2f2f2;
}

.card-container .card {
  margin-bottom: 0px;
}

.card-transparent {
  background-color: transparent;
}

.card+.collapsing {
}

.card-label {
  color: #999;
  margin: 5px 0;
}

.card-value {
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

p.description {
  color: #aaa;
}

