body {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Damion', cursive;
  font-size: 60px;
  color: #fff;
  margin: 0px;
}

@media (max-width: 1024px) {
  header h1 {
    font-size: 50px;
  }
}

.form-control {
  height: 33px;
}

h4 {
  font-size: 20px;
  margin-top: 0px;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  font-weight: bold;
}

.card-dark h4 small{
  color: #ccc;
}

p.help-text {
  color: #aaa;
  margin: 4px 0;
  font-size: 12px;
}