<header></header>
<section id="content" class="text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1"
                 id="headline-container">
                <p>Willkommen bei</p>
                <image src="img/logo.png" id="landing-logo" class="img-responsive"></image>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="form-group has-feedback">
                    <label for="landing-input-container" class="control-label">
                        <small>Geben Sie ein Gericht oder gewünschten Charakter ein, um den passenden Wein zu finden
                        </small>
                    </label>
                    <div id="landing-input-container">
                        <selectize config='c.selectizeConfig' options='c.tags' ng-model="c.selectedTag"
                                   id="landing-input"></selectize>
                        <span class="fa fa-search fa-lg" ng-click="c.goDiscover()"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <p class="text-center" style="line-height: 150%">
                        in vino veritas hilft Ihnen dabei, zu einem bestimmten Gericht den perfekten Wein zu finden.
                        Geben Sie das Gericht in das Textfeld ein, klicken Sie auf Suchen und Sie erhalten ein besondere
                        Auswahl unserer besten Weine.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-top: 50px;">
            <div class="banner"><img src="img/banner.png" alt="Banner"></div>
        </div>
    </div>
    <div class="container" id="vpc_container">
        <h3> Für Weinentdecker </h3>
        <div class="row text-center" id="vpc">

            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Geschmackvolle Weine entdecken</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Suchen Sie nach Gerichten oder gewünschtem Weincharakter und entdecken Sie
                            eine Auswahl harmonisierender Weine.<br>
                            Vermeiden Sie Sorgen vor einem schicken Abendessen und beeindrucken Sie mit einer
                            anspruchsvollen Auswahl.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Direkter Kontakt zu Winzern</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Treten Sie mit Winzern in Kontakt und kaufen Sie direkt beim Hersteller
                            ohne Zwischenhändler. Dabei können Sie im Gespräch Ihren Horizont mit
                            persönlichem Wissen über Weine, Weingüter und Regionen erweitern.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Austausch mit Weinkennern</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Jeder Wein lässt sich bewerten und kommentieren. Debattieren Sie mit
                            Weinkennern und empfehlen Sie anhand Ihrer persönlichen Erfahrung
                            Weine für Neugierige und Entdecker. Winzer können damit direkt auf Feedback
                            reagieren und gewinnen Kundeneinsicht.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="vpc_container">
        <h3> Für Winzer </h3>
        <div class="row text-center" id="vpc">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Den Kundenkreis erweitern</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Erweitern Sie einfach Ihren Kundenstamm, indem Sie Ihre Weine auf in vino veritas anbieten.
                            <br><br>
                            Egal ob Weinkenner oder absoluter Neuling – auf in vino veritas schaut jeder vorbei.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Unkomplizierte Vermarktung</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Für die Teilnahme an in vino veritas müssen Sie sich einfach nur registrieren.
                            <br><br>
                            Inserieren Sie Ihre Weine ganz unkompliziert, indem Sie eingeloggt diese über WEINE BEARBEITEN der Plattform hinzufügen
                            und dazu passende Gerichte und Weinattribute angeben.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Das Beste: ganz ohne fixe Kosten</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Die Inserierung von Weinen auf in vino veritas ist für Sie völlig kostenlos.
                            <br><br>
                            Sie zahlen lediglich einen kleinen Betrag, sobald sich jemand für Ihren Wein interessiert und mit Ihnen Kontakt aufnehmen möchte.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
