<header><h1>Kontakt</h1></header>
<section id="content" class="text-white">
    <div class="container">
        <div class="row" id="makeitcenter">
            <div class="panel panel-default" id="contactContainer">
                <div class="panel-heading">
                    <h4>Alle Wege führen zu uns.</h4></div>
                <div class="panel-body">
                    <i class="fa fa-phone-square fa-2x" aria-hidden="true"><span> 0123 / 456 789</span></i>
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"><span>mail@ivv.de</span></i>
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"><span> #ivv</span></i>
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"><span> @ivv</span></i>
                </div>
            </div>
        </div>
    </div>
</section>