<div class="" id="footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul class="footer-nav">
                    <li><a ng-class="{ active : mCtrl.isActive('/home')}" href="#/home">NACH GERICHT SUCHEN</a></li>
                    <li><a ng-class="{ active : mCtrl.isActive('/discover')}" href="#/discover">WEINE ENTDECKEN</a></li>
                    <li ng-show="main.isLoggedIn"><a ng-class="{ active : mCtrl.isActive('/form/wine')}"
                                                     href="#/form/wine">WEINE
                        BEARBEITEN</a></li>
                    <li ng-show="main.isLoggedIn"><a ng-class="{ active : mCtrl.isActive('/form/maker')}"
                                                     href="#/form/maker">WINZER
                        HINZUFÜGEN</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="footer-nav">
                    <li><a ng-class="{ active : mCtrl.isActive('/contact')}" href="#/contact">KONTAKT</a></li>
                    <li ng-show="main.isLoggedIn"><a href="" ng-click="main.logout()">LOGOUT</a></li>
                    <li ng-hide="main.isLoggedIn"><a ng-class="{ active : mCtrl.isActive('/login')}" href="#/login">LOGIN</a>
                    </li>
                    <li ng-hide="main.isLoggedIn"><a
                            ng-class="{ active : mCtrl.isActive('/registration')}"
                            href="#/registration">REGISTRIEREN</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6" id="project-names">
                        Ein Projekt von:<br>
                        Tobias Bodor <br> Lars Lütjens <br> Maria Stöcker <br> Stephan Zumkeller
                    </div>
                    <div class="col-sm-6 text-right">
                        <img src="img/logo.png" style="width: 80px; margin-top: -11px;">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
